body {
  margin-left: 3rem;
}

form {
  padding-left: 1rem;
  padding-bottom: 1rem;
  width: 33%;
  border: medium solid #337ab7;
}

input {
  display: inline-block;
}

div.badges {
  height: 400px;
  width: 600px;
}
