.blue {
	background-color: #7bc9d8;
	font-weight: bold;
	font-size: 15px;
}

.gray{
	background-color: #9bb0b5;
}

h2 {
	border-bottom: 2pt
}

div.badges {
  height: 400px;
  display: inline;
  margin: 0 auto;
  margin-bottom: 25px;

}



/*media queries*/