.blue {
	background-color: #7bc9d8;
	font-weight: bold;
	font-size: 15px;
	overflow: scroll;
}

.gray{
	background-color: #9bb0b5;
}

h1 {
	text-align: center;
}

h2 {
	border-bottom: 2pt
}

form {
  padding: 1rem;
  width: 33%;
  border: medium solid #337ab7;
}

input {
  display: inline-block;
}

div.badges {
  height: 400px;
  display: inline;
  margin: 0 auto;
  margin-bottom: 25px;

}
